<f:section name="content">
	<f:if condition="{cases}">
		<f:link.action action="profile" controller="Account" ><f:translate key="Profile">User Profile</f:translate></f:link.action> |
		<f:link.action action="company" controller="Account" ><f:translate key="Company">Account</f:translate></f:link.action> |
		<f:link.action action="projects" controller="Account" ><f:translate key="Projects">Projects</f:translate></f:link.action> |
		<f:link.action action="pmsprojects" controller="Account" ><f:translate key="pmsProjects">Projects (PMS)</f:translate></f:link.action> |
		<f:link.action action="issues" controller="Account" ><f:translate key="Issues">Issues</f:translate></f:link.action><br /><br />
		<h3><f:translate key="Cases">Cases</f:translate>:</h3>

			<f:for each="{cases.list}" as="case">
				<f:form method="post" controller="Account" action="cases" name="caseForm"> <!--name is not unique for each case-->
				<f:form.hidden name="recordId" value="{case.id}" />
				<div class="box">
				<fieldset>
					<f:for each="{case.fieldRecords}" as="records">
						<fieldset style="margin: 15px 0 0 0;">
						<f:if condition="{records.fieldset}">
							<f:then>
								<legend><f:translate key="{records.legend}">{records.legend}:</f:translate></legend>
								<table>
									<f:for each="{records.fields}" as="name">
										<tr>
											<td>
		          								<LABEL><f:translate key="{name.field.label}">{name.field.label}</f:translate></LABEL>
		        							</td>
											<f:if condition="{name.alter}">
												<f:then>
													<f:if condition="{name.field.textBox}">
														<f:then>
															<td>
																<f:form.textbox value="{name.value}" name="{name.recordName}:{name.field.type.typeName}" />
																<span style="color:rgb(46,170,220);font-size:9px;">{name.error}</span>

															</td>
														</f:then>
														<f:else>
															<f:if condition="{name.field.type.text}">
																<f:then>
																	<td>
																		<f:form.textarea value="{name.value}" rows="5" cols="40" name="{name.recordName}:text" />
																		<span style="color:rgb(46,170,220);font-size:9px;">{name.error}</span>

																	</td>
																</f:then>
																<f:else>
																	
																</f:else>
															</f:if>
														</f:else>
													</f:if>
												</f:then>
												<f:else>
													<td>
														{name.value}
													</td>
												</f:else>
											</f:if>
										</tr>
									</f:for>
								</table>
							</f:then>
							<f:else>
		          				<legend><f:translate key="{records.field.label}">{records.field.label}</f:translate></legend>
									<f:if condition="{records.alter}">
										<f:then>
											<f:if condition="{records.field.textBox}">
												<f:then>
													<f:form.textbox value="{records.value}" name="{records.recordName}:{records.field.type.typeName}" />
													<span style="color:rgb(46,170,220);font-size:9px;">{name.error}</span>

												</f:then>
												<f:else>
													<f:if condition="{records.field.type.enum}">
														<f:then>
															<f:form.select value="{records.value}" name="{records.recordName}:enum" options="{records.field.options}"/>
															<span style="color:rgb(46,170,220);font-size:9px;">{name.error}</span>

														</f:then>
														<f:else>
															<f:if condition="{records.field.type.text}">
																<f:then>
																	<f:form.textarea value="{records.value}" rows="5" cols="40" name="{records.recordName}:text" />
																	<span style="color:rgb(46,170,220);font-size:9px;">{name.error}</span>

																</f:then>
																<f:else>
																	
																</f:else>
															</f:if>
														</f:else>
													</f:if>
												</f:else>
											</f:if>
										</f:then>
										<f:else>
												{records.value}
										</f:else>
									</f:if>					
							</f:else>
						</f:if>
						</fieldset>
					</f:for>
				</fieldset>
				</div><br />
				<f:form.submit value="Submit"/><br />
				</f:form>
			</f:for>
		<br /><br /><h3><f:translate key="Add new Case:">Add new Case:</f:translate></h3>
			<f:form method="post" controller="Account" action="cases" name="newCaseForm">
				<div class="box">
				<f:form.hidden name="recordId" value="newCase" />
				<dl>
					<dt>
						<b><f:translate key="Priority:">Priority:</f:translate></b>
					</dt>
					<dd>
						<f:form.select value="{cases.newCase.priority.value}" name="priority:varchar" options="{P1: 'High', P2: 'Medium', P3: 'Low'}"/>
					</dd>
					<dt>
						<b><f:translate key="Type">Type</f:translate></b>
					</dt>
					<dd>
						<f:form.select value="{cases.newCase.type.value}" name="type:varchar" options="{Administration: 'Administration', Product: 'Product', User: 'User'}"/>
					</dd>
					<dt>
						<b><f:translate key="Subject:">Subject:</f:translate>*</b>
					</dt>
					<dd>
						<f:form.textbox value="{cases.newCase.name.value}" name="name:varchar"/>
						<b style="color:red;">{cases.newCase.name.error}</b>
					</dd>
					<dt>
						<b><f:translate key="Description:">Description:</f:translate>*</b>
					</dt>
					<dd>
						<f:form.textarea value="{cases.newCase.description.value}" name="description:varchar" rows="10" cols="45"/>
						<b style="color:red;">{cases.newCase.description.error}</b>
					</dd>
				</dl>
				</div><br />
				<f:form.submit value="Submit"/>
			</f:form>
	</f:if>
</f:section>
			