<f:section name="content">
	<f:if condition="{company}">
		<f:link.action action="profile" controller="Account" ><f:translate key="Profile">User Profile</f:translate></f:link.action> |
		<f:link.action action="cases" controller="Account" ><f:translate key="Cases">Cases</f:translate></f:link.action> |
		<f:link.action action="projects" controller="Account" ><f:translate key="Projects">Projects</f:translate></f:link.action> |
		<f:link.action action="issues" controller="Account" ><f:translate key="Issues">Issues</f:translate></f:link.action> |
		<f:link.action action="pmsprojects" controller="Account" ><f:translate key="pmsProjects">Projects (PMS)</f:translate></f:link.action> |
		<f:link.action action="logout" controller="Start" ><f:translate key="Logout">Logout</f:translate></f:link.action>
		<h3><f:translate key="Company">Account</f:translate>:</h3>
		<div style="width:800px;"> <!--TODO: style belongs to layouts-->
		<f:form method="post" controller="Account" action="company" name="companyForm">
		<f:form.hidden name="recordId" value="{company.id}" />
				<FIELDSET>
					<LEGEND><b><f:translate key="Company">Account</f:translate></b></LEGEND>
					<f:for each="{company.fieldRecords}" as="records">
						<FIELDSET>
						<f:if condition="{records.fieldset}">
							<f:then>
								<LEGEND><f:translate key="{records.legend}">{records.legend}</f:translate></LEGEND>
								<TABLE>
									<f:for each="{records.fields}" as="name">
										<TR>
											<TD>
		          								<LABEL><f:translate key="{name.field.label}">{name.field.label}</f:translate></LABEL>
		        							</TD>
											<f:if condition="{name.alter}">
												<f:then>
													<f:if condition="{name.field.textBox}">
													
														<f:then>
															<TD>
																<f:form.textbox value="{name.value}" name="{name.recordName}:{name.field.type.typeName}" />
																<b style="color:red;">{name.error}</b>
															</TD>
														</f:then>
													
														<f:else>
														
														</f:else>
													
													</f:if>
												</f:then>
												<f:else>
													<TD>
														{name.value}
													</TD>
												</f:else>
											</f:if>
										</TR>
									</f:for>
								</TABLE>
							</f:then>
							<f:else>
		          				<LEGEND><f:translate key="{records.field.label}">{records.field.label}</f:translate></LEGEND>
									<f:if condition="{records.alter}">
										<f:then>
											<f:if condition="{records.field.textBox}">
												<f:then>
													<f:form.textbox value="{records.value}" name="{records.recordName}:{records.field.type.typeName}" />
													<b style="color:red;">{records.error}</b>
												</f:then>
												<f:else>
													<f:if condition="{records.field.type.enum}">
														<f:then>
															<f:form.select value="{records.value}" name="{records.recordName}:enum" options="{records.field.options}"/>
															<b style="color:red;">{records.error}</b>
														</f:then>
														<f:else>
															<f:if condition="{records.field.type.text}">
																<f:then>
																	<f:form.textarea value="{records.value}" rows="5" cols="40" name="{records.recordName}:text" />
																	<b style="color:red;">{records.error}</b>
																</f:then>
																<f:else>
																	
																</f:else>
															</f:if>
														</f:else>
													</f:if>
												</f:else>
											</f:if>
										</f:then>
										<f:else>
												{records.value}
										</f:else>
									</f:if>					
							</f:else>
						</f:if>
						</FIELDSET>
					</f:for>
				</FIELDSET>
		<f:form.submit value="Submit"/><br />
		</f:form>
	</div>
	</f:if>
</f:section>
