<f:section name="content">
	<f:if condition="{contact}">
		<f:link.action action="refresh" controller="Start" ><f:translate key="Refresh">Refresh</f:translate></f:link.action> |
		<f:link.action action="company" controller="Account" ><f:translate key="Company">Account</f:translate></f:link.action> |
		<f:link.action action="cases" controller="Account" ><f:translate key="Cases">Cases</f:translate></f:link.action> |
		<f:link.action action="projects" controller="Account" ><f:translate key="Projects">Projects</f:translate></f:link.action> |
		<f:link.action action="issues" controller="Account" ><f:translate key="Issues">Issues</f:translate></f:link.action> |
		<f:link.action action="pmsprojects" controller="Account" ><f:translate key="pmsProjects">Projects (PMS)</f:translate></f:link.action><br /><br />
		<h2><f:translate key="Welcome">Welcome to our Support Center</f:translate> {contact.fieldRecords.salutation.value} {contact.fieldRecords.first_name.value} {contact.fieldRecords.last_name.value}</h2>
		<h3><f:translate key="Profile">User profile</f:translate>:</h3>

		 <!--TODO: style belongs to layouts-->
		<f:form method="post" controller="Account" action="profile" name="contactForm">
		<f:form.hidden name="recordId" value="{contact.id}" />
				<div class="box">
				<fieldset>
					<f:for each="{contact.fieldRecords}" as="records">
						<fieldset style="margin: 15px 0 0 0;">
						<f:if condition="{records.fieldset}">
							<f:then>
								<legend><f:translate key="{records.legend}">{records.legend}:</f:translate></legend>
								<table>
									<f:for each="{records.fields}" as="name">
										<tr>
											<td>
		          									<LABEL style="width: 100px;display:block"><f:translate key="{name.field.label}">{name.field.label}</f:translate></LABEL>
		        								</td>
											<f:if condition="{name.alter}">
												<f:then>
													<f:if condition="{name.field.textBox}">
														<f:then>
															<td>
																<f:form.textbox value="{name.value}" name="{name.recordName}:{name.field.type.typeName}" />
																<span style="color:rgb(46,170,220);font-size:9px;">{name.error}</span>
															</td>
														</f:then>
													
														<f:else>
														
														</f:else>
													
													</f:if>
												</f:then>
												<f:else>
													<td>
														{name.value}
													</td>
												</f:else>
											</f:if>
										</tr>
									</f:for>
								</table>
							</f:then>
							<f:else>
		          				<legend><f:translate key="{records.field.label}">{records.field.label}</f:translate></legend>
									<f:if condition="{records.alter}">
										<f:then>
											<f:if condition="{records.field.textBox}"> <!-- in this case[s]: use textbox-viewhelper strictly -->
												<f:then>
													<f:form.textbox value="{records.value}" name="{records.recordName}:{records.field.type.typeName}" />
													<span style="color:rgb(46,170,220);font-size:9px;">{name.error}</span>
												</f:then>
												<f:else>
													<f:if condition="{records.field.type.enum}"> <!--is condition enum: select-->
														<f:then>
															<f:form.select value="{records.value}" name="{records.recordName}:enum" options="{records.field.options}"/>
															<span style="color:rgb(46,170,220);font-size:9px;">{name.error}</span>
														</f:then>
														<f:else>
															<f:if condition="{records.field.type.text}"> <!--is condition text: textarea-->
																<f:then>
																	<f:form.textarea value="{records.value}" rows="5" cols="40" name="{records.recordName}:text" />
																	<span style="color:rgb(46,170,220);font-size:9px;">{name.error}</span>
																</f:then>
																<f:else>
																	<f:if condition="{records.field.type.encrypt}">
																		<f:then>
																			<f:form.password name="{records.recordName}:encrypt" /> <!--is condition encrypt: password-->
																			{records.value}
																			<span style="color:rgb(46,170,220);font-size:9px;">{name.error}</span>
																		</f:then>
																		<f:else></f:else>
																	</f:if>
																</f:else>
															</f:if>
														</f:else>
													</f:if>
												</f:else>
											</f:if>
										</f:then>
										<f:else>
												{records.value}
										</f:else>
									</f:if>					
							</f:else>
						</f:if>
						</fieldset>
					</f:for>
				</fieldset>
		</div><br />
		<f:form.submit value="Submit"/><br />
		</f:form>
	</f:if>
</f:section> 