<f:section name="content">
	<f:if condition="{contact}">
		<f:link.action action="refresh" controller="Start" >Refresh</f:link.action>
		<f:link.action action="cases" controller="Account" >Cases</f:link.action>
		<f:link.action action="logout" controller="Start" >Logout</f:link.action>
		<h2>Welcome to our Support Center {contact.salutation.value} {contact.first_name.value} {contact.last_name.value}</h2>
		<h3>User profile:</h3>
		<f:form method="post" controller="Account" action="profile" name="contactForm">
			<f:for each="{contact}" as="record">
				<dl>
					<f:if condition="{record.style.hidden}">
						<f:then>
							<dd>
								<f:form.hidden name="{record.field.name}" value="{record.value}" />
							</dd>
						</f:then>
						<f:else>
							<dt>
								<label for="textboxLabel">{record.field.label}</label>
        					</dt>
							<f:if condition="{record.edit}"> <!--only editable and visible fields are shown via form-elements-->	
								<f:then>
									<dd>
										<f:if condition="{record.field.type.varchar}"> <!--is condition varchar: textbox-->
											<f:then>
												<f:form.textbox value="{record.value}" name="{record.field.name}:{record.field.type.varchar}" />
												<b style="color:red;">{record.error}</b>
											</f:then>
											<f:else>
												<f:if condition="{record.field.type.phone}"> <!--is condition phone: textbox-->
													<f:then>
														<f:form.textbox value="{record.value}" name="{record.field.name}:{record.field.type.phone}" />
														<b style="color:red;">{record.error}</b>
													</f:then>
													<f:else>
														<f:if condition="{record.field.type.enum}"> <!--is condition enum: select-->
															<f:then>
																<f:form.select value="{record.value}" name="{record.field.name}:{record.field.type.enum}" options="{record.field.options}"/>
																<b style="color:red;">{record.error}</b>
															</f:then>
															<f:else>
																<f:if condition="{record.field.type.encrypt}"> <!--is condition encrypt: password-->
																		<f:then>
																			<f:form.password name="{record.field.name}:{record.field.type.encrypt}" />
																			{record.value}
																			<b style="color:red;">{record.error}</b>
																		</f:then>
																</f:if>
															</f:else>
														</f:if>
													</f:else>
												</f:if>
											</f:else>
										</f:if>
									</dd>
								</f:then>
								<f:else> <!--these fields are not editable but definitely viewable and visible in this case-->	
									<dd>{record.value}</dd>
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</dl>
			</f:for>
			<f:form.submit value="Submit"/><br />
		</f:form>
	</f:if>
</f:section> 