<f:section name="content">
	<f:if condition="{contact}">
		<f:link.action action="refresh" controller="Start" ><f:translate key="Refresh">Refresh</f:translate></f:link.action> |
		<f:link.action action="company" controller="Account" ><f:translate key="Company">Account</f:translate></f:link.action> |
		<f:link.action action="cases" controller="Account" ><f:translate key="Cases">Cases</f:translate></f:link.action> |
		<f:link.action action="logout" controller="Start" ><f:translate key="Logout">Logout</f:translate></f:link.action>
		<h2><f:translate key="Welcome">Welcome to our Support Center</f:translate> {contact.salutation.value} "{contact.first_name.value} {contact.last_name.value}"</h2>
		<h3><f:translate key="Profile">User profile</f:translate>:</h3>

		<f:form method="post" controller="Account" action="profile" name="contactForm">
			<dl>
				<f:for each="{contact}" as="record">
					<f:if condition="{record.edit}"> <!--only editable and visible fields are shown via form-elements-->	
						<f:then>
							<dt>
								<b><f:translate key="{record.field.label}"></f:translate></b>
        					</dt>
							<dd>
								<f:if condition="{record.field.textbox}"> <!-- in this case[s]: use textbox-viewhelper strictly -->
									<f:then>
										<f:form.textbox value="{record.value}" name="{record.field.name}:{record.field.type.name}" />
										<b style="color:red;">{record.error}</b>
									</f:then>
									<f:else>
										<f:if condition="{record.field.type.enum}"> <!--is condition enum: select-->
											<f:then>
												<f:form.select value="{record.value}" name="{record.field.name}:enum" options="{record.field.options}"/>
												<b style="color:red;">{record.error}</b>
											</f:then>
											<f:else>
												<f:if condition="{record.field.type.encrypt}"> <!--is condition encrypt: password-->
													<f:then>
														<f:form.password name="{record.field.name}:encrypt" />
														{record.value}
														<b style="color:red;">{record.error}</b>
													</f:then>
													<f:else>
														<f:if condition="{record.field.type.text}"> <!--is condition text: textarea-->
															<f:then>
																<f:form.textarea value="{record.value}" rows="5" cols="40" name="{record.field.name}:text" />
																<b style="color:red;">{record.error}</b>
															</f:then>
														</f:if>
													</f:else>
												</f:if>
											</f:else>
										</f:if>
									</f:else>
								</f:if>
							</dd>
						</f:then>
						<f:else> <!--these fields are not editable but definitely viewable and visible in this case-->	
							<f:if condition="{record.style.hidden}">
								<f:then>
									<dd>
										<f:form.hidden name="{record.field.name}" value="{record.value}" />
									</dd>
								</f:then>
								<f:else>
									<dt>
										<b><f:translate key="{record.field.label}"></f:translate></b>
        							</dt>
									<dd>
										{record.value}
									</dd>
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</f:for>
			</dl>
			<f:form.submit value="Submit"/><br />
		</f:form>
	</f:if>
</f:section> 